<a href="https://colab.research.google.com/github/adarshkumaryadav421-prog/test-repo/blob/main/assignment_1_variables_numbers_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2 align="center" style="color:blue">Codebasics Python Course: Exercise - Variables, Numbers, Strings</h2>

### Task 1

Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.

In [7]:
# write your code here
pi = 22/7
type(pi)

float

### Task 2

Create a variable called ```for``` and assign it a value 4. See what happens and find out the reason behind the behavior that you see.

In [10]:
# write your code here
_for = 4
print(_for)

4

### Task 3

Below we have defined the variables for storing the principal amount, rate of interest and time. You need to calculate the simple interest for 3 years. Once simple interest is calculated, calculate the total amount you will have at the end of the tenure

In [11]:
principle_amount = 567.00
rate_of_interest = 5.6
time = 3

Now let's calculate the simple intrest using simple math formula:

`simple interest  = P x R x T / 100`

where:

    P = principle amount
    R = rate of interest
    T = time

In [13]:
# calculate simple interest
simple_interest = principle_amount * rate_of_interest * time / 100

In [15]:
# calculate total amount after including interest

662.256

### Task 4

There is a circular pond in a village. This pond has a radius of 84 meter. Can you find the area of the pond?

In [16]:
# write your code here
area = 3.14 * 84 ** 2
print(area)

22155.84

### Task 5

If there is a 2000 liter water in a square meter, what is the total amount of water in this pond?

**Note:** For simplicity, use the value of pi as 3.14.

In [17]:
# write your code here
total_amount_of_water = area * 2000
print(total_amount_of_water)

44311680.0

### Task 6

If you cross a 490-meter-long street in 7 minutes, then what is your speed in meter per seconds. Print your answer with only two decimal points

Hint:
        Speed = Distance / Time

In [19]:
# write your code here
Speed = 490 / 420
print(round(Speed,2))

1.17

### Task 7

Create two variables to store how many fruits and vegetables you eat in a day. The value should be numeric for example 3 fruits and 4 vegetables. Now Print "I eat x vegetables and y fruits daily" where x and y presents vegetables and fruits that you eat every day. Use python f string for this.

In [20]:
# write your code here

I eat 4 Vegetables and 3 fruits daily

### Task 8

Create a variable and store the string “The Himalayas are one of the youngest mountain range on the planet.”

1. Print ‘The Himalayas’ using slice operator
1. Print “mountain range” using negative index
1. Print “The Himalayas on the planet” using slice as well as f-string

In [5]:
# write your code here
sentence = "The Himalayas are one of the youngest mountain range on the planet."

# 1. Print ‘The Himalayas’ using slice operator
print(sentence[0:13])

# 2. Print “mountain range” using negative index
print(sentence[-29:-14])

# 3. Print “The Himalayas on the planet” using slice as well as f-string
print(f"{sentence[0:13]} {sentence[-12:]}")

The Himalayas
mountain range
The Himalayas  the planet.

### Task 9

You have created a string variable called string= ”There are 9 planets in the solar system”. After some time, you have realized that your sentence is incorrect and there are only 8 planets, now correct your sentence by replacing the incorrect words.

In [6]:
# write your code here

There are 8 planets in the solar system

### Task 10

Imagine you are a shop owner tracking sales of three products throughout the day. At the end of the day, you want to calculate the total sales from these products. Product quantity and prices are given below in the next code cell,

Task: Write a program that:

1. Calculates the total sales for each product.
1. Summarizes the total sales for the day.
1. Prints this summary in a formatted manner.

Expected Output:

```
Daily Sales Summary:
- Product 1: Sold 15 units at $20.0 each, Total: $300.0
- Product 2: Sold 10 units at $35.0 each, Total: $350.0
- Product 3: Sold 20 units at $12.0 each, Total: $240.0
Total Sales for the Day: $890.0
```

In [10]:
# Prices and quantities for each product
product1_price = 20.0  # Price per unit for product 1
product1_quantity = 15  # Quantity sold of product 1

product2_price = 35.0  # Price per unit for product 2
product2_quantity = 10  # Quantity sold of product 2

product3_price = 12.0  # Price per unit for product 3
product3_quantity = 20  # Quantity sold of product 3

In [11]:
# write your code here
total_sales_product1 = product1_price * product1_quantity
total_sales_product2 = product2_price * product2_quantity
total_sales_product3 = product3_price * product3_quantity

total_sales_day = total_sales_product1 + total_sales_product2 + total_sales_product3

print("Daily Sales Summary:")
print(f"- Product 1: Sold {product1_quantity} units at ${product1_price} each, Total: ${total_sales_product1}")
print(f"- Product 2: Sold {product2_quantity} units at ${product2_price} each, Total: ${total_sales_product2}")
print(f"- Product 3: Sold {product3_quantity} units at ${product3_price} each, Total: ${total_sales_product3}")
print(f"Total Sales for the Day: ${total_sales_day}")

Daily Sales Summary:
- Product 1: Sold 15 units at $20.0 each, Total: $300.0
- Product 2: Sold 10 units at $35.0 each, Total: $350.0
- Product 3: Sold 20 units at $12.0 each, Total: $240.0
Total Sales for the Day: $890.0